
# Comments for unused checks:
# -modernize-avoid-c-array: TODO: Remove and use string_view instead of const char*?
# -readability-magic-numbers: It's an emulator, I think it's ok to use them
# -readability-else-after-return: IMO makes sense to use it

Checks: >
  -*,
  readability*,
  modernize*,
  clang-*,
  performance*,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-else-after-return,

WarningsAsErrors: "*"

HeaderFilterRegex: ".*"
